[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-restful = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-cors = "*"
faker = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
